@tailwind base;
  @tailwind components;
  @tailwind utilities;
html,
body,
:root {
  height: 100%;
}


/* BACKGROUND FOR THE LANDING PAGE*/
body {
  /*background-image: url("/login-bg.svg");*/
  background-repeat: no-repeat;  /* To prevent repeating the image */
  background-position: center;  /* To center the image */
  background-size: cover;       /* To cover the entire container */
}

.user-button-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adjust shadow properties */
  border-radius: 4px; /* Optional: Add border radius for a softer look */
}

.Textarea {
  white-space: pre-wrap; /* Allow line breaks for long strings */
  word-break: break-all;  /* Break on character boundaries if needed */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
 
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}





  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }


  /*--------------------AVATARBOX------------ C L E R K CUSTOM STYLE--------------------------------------------*/

.cl-userPreviewAvatarContainer {
  border: 2px solid #666666; /* Gray border */
  border-radius: 100%;
  padding: 2px;
}

.cl-internal-1baqzr {
  background-color: #888888; /* Light Gray background */
}

.cl-internal-2z8hkq {
  border: 2px solid #787878; /* Gray border */
  border-radius: 100%;
  padding: 2px;
}

.cl-internal-2z8hkq:hover {
  border-color: #41415f; /* Red border on hover */
}

/*---AVATAR SETTINGS----*/

.cl-userPreviewMainIdentifier {
  color: black; /* Name text color */
}

.cl-userPreviewSecondaryIdentifier {
  color: #ffe604; /* Username text color */
}

/* MIDDLE PART OF THE POPUP CARD */

.cl-userButtonPopoverActionButton {
  color: #464649; /* Gray text */
}

.cl-userButtonPopoverActionButton:hover {
  color: #39393a; /* Darker Gray text when hovering */
}

/* BACKGROUND CARD */

.cl-cardBox {
  background-color: #ffffff;
  border-radius: 45px;
  /*border: 2px solid #b91c1c; /* Red border */
}

.cl-internal-rk8nkz {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 6px;
}

.cl-card {
  background-color: #490D0D;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 2px solid #b91c1c; /* Red border */
}

.cl-logoImage {
  margin-top: 10px;
  width: 60%;
  height: auto;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 40%;
}

.cl-logoImage:hover {
  box-shadow: 0 0px 70px #b91c1c; /* Red glow */
}

.cl-logoImage:active {
  box-shadow: 0 0px 70px #8D1717; /* Darker red glow */
}

.cl-formFieldInfoText {
  font-size: 12px;
  color: #e30404;
}

.cl-main {
  margin-top: 4px;
}

/* HEADER TEXT STYLING */

.cl-headerTitle {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 254, 254); /* Red text */
}

.cl-headerSubtitle {
  font-size: 14px;
  color: #b7b4b4; /* Darker red text */
}

/* BUTTON STYLING */

.cl-socialButtonsBlockButton {
  background-color: #8D1717; /* Darker red background */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cl-socialButtonsBlockButton:hover {
  background-color: #b91c1c; /* Red background on hover */
}

/* DIVIDER STYLING */

.cl-dividerLine {
  display: none;
  border-top: 2px solid #ad0606;
}

.cl-dividerText {
  font-size: 12px;
  color: #ffffff;
  margin: 0 10px;
}

/* FORM FIELD STYLING */

.cl-formFieldLabel {
  font-size: 14px;
  color: #ffffff;
}

.cl-formFieldInput {
  padding: 8px;
  border: 3px solid #b91c1c; /* Red border */
  border-radius: 30px;
  background-color: #ffffff;
  color: #8D1717; /* Darker red text */
}

.cl-formFieldInput::placeholder {
  color: #b91c1c; /* Red placeholder text */
}

/* PRIMARY BUTTON STYLING */

.cl-formButtonPrimary {
  background-color: #b91c1c; /* Red background */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.cl-formButtonPrimary:hover {
  background-color: #8D1717; /* Darker red background on hover */
}

/* FOOTER STYLING */

.cl-footer {
  background-color: #8D1717; /* Darker red background */
}

.cl-internal-4x6jej {
  border-radius: 0 0 15px 15px;
  background: #b91c1c; /* Red background */
}

/* SIGN-UP LINK */

.cl-internal-kyvqj0 {
  color: #ebe1f5;
}

.cl-internal-1v2koqu {
  color: #050505;
}

.cl-internal-1v2koqu:hover {
  color: #000000; /* Red text on hover */
}

/* Hides the "Secured by Clerk" element */

.cl-internal-180wb59 {
  display: none; /* For the initial login page */
}

.cl-internal-11ttlho {
  display: none; /* For the user button */
}

.cl-internal-lqfubk {
  display: none; /* For the view account */
}

 /*----------------------------spinner------------------------------*/
 .spinner {
  margin:auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: gray;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}









 @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  } 
@import "~@uploadthing/react/styles.css"
